*{
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.navbar{
    padding: 20px;
    background-color: #ea2c62;

    a{
        list-style: none;
        color: #ffffff;
        font-weight: 700;
    }

    a:hover{
        color: rgb(33, 66, 82);
    }
}